@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

h1 {
  color: salmon;
  font-size: 30px;
  /* margin-left: 10px; */
}

/* h2, name{
  color: salmon;
  font-size: 30px;
} */

/* #name{
  color:blue;
  font-size:36 px
} */
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
.likes{
  display: flex;
  flex-direction: row;

}
#elephant{
  display: flex;
  flex-direction: row;
  /* margin-left: auto;
  margin-right: auto;
  width: 50%; */
}
#likes{
/* calling id with a # */
  margin-top: 26px;
  /* margin-left: -3px; */
}
#dislikes{
  margin-top: 9px;
  /* margin-left: -3px; */
}
#dislikes_head{
  /* margin-left: -1px; */
}
*{
  /* margin: 7px; */
  margin-left: 5px;
  font-family: 'Lato', sans-serif;

  background-color: pink;

}
#p{
}
.img{
  margin-top: 10px;
}


/* #pic{
  margin-left: 18em; */


#pic_h3{
padding-top: 20px;}
